<form class="chat-input" action="/blazer/messages" method="GET">
    <input type="text" id="chat-input" name="query" placeholder="Type your message..." />
    <button id="send-button" type="submit">Send</button>
</form>
