<p id="<%= dom_id message %>">
  <%= message.created_at.to_s(:short) %>: <%= message.content %>
</p>
<div class="chat-message">
    <div class="chat-message-sender">Alice</div>
    <div class="chat-message-content">Hi there!</div>
</div>
